<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Designed with Inkscape (http://www.inkscape.org/) -->
<!-- Created with oih-mklist written by Florian Hülsmann <fh@cbix.de> 2014 -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   width="744.09003"
   height="1052.3622"
   id="svg3156">
  <defs
     id="defs3158" />
  <metadata
     id="metadata3161">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="static"
     style="display:inline">
    <rect
       width="744.09003"
       height="185.86978"
       x="6.6339112e-08"
       y="-0.060302638"
       id="headbg"
       style="fill:#a02c89;fill-opacity:1;stroke:none" />
    <g
       transform="translate(-2.3329609e-4,0)"
       id="title">
      <text
         x="168.12781"
         y="144.01535"
         id="oih"
         xml:space="preserve"
         style="font-size:139.76777649px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;font-family:Open Sans;-inkscape-font-specification:Open Sans Bold"><tspan
           x="168.12781"
           y="144.01535"
           style="font-size:139.76777649px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:start;line-height:100%;letter-spacing:-8.06141567px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;font-family:Open Sans;-inkscape-font-specification:Open Sans Light">oih</tspan></text>
      <g
         transform="matrix(0,0.65203664,-0.6523109,0,352.14045,-156.77763)"
         id="logocircle"
         style="fill:#de88cd;fill-opacity:1">
        <path
           d="m 378.25,297.28125 c -12.55354,0.29795 -25.05823,3.24883 -36.5625,8.875 l 21.71875,21.71875 c 11.06646,-3.31612 22.87104,-3.31612 33.9375,0 l 21.6875,-21.6875 c -12.79412,-6.2594 -26.81937,-9.23763 -40.78125,-8.90625 z m -76.5625,48.875 c -5.65205,11.49405 -8.65378,23.96119 -8.96875,36.46875 -0.35188,13.97338 2.66224,28.06186 8.96875,40.90625 l 21.71875,-21.71875 c -1.78,-6.00506 -2.59435,-12.24006 -2.4375,-18.46875 0.13145,-5.21987 0.97842,-10.40695 2.46875,-15.4375 l -21.75,-21.75 z m 157.34375,0.0312 -21.65625,21.65625 c 3.32491,11.07507 3.31922,22.92364 0,34 l 21.6875,21.6875 c 11.88433,-24.29989 11.85706,-53.04535 -0.0312,-77.34375 z M 363.375,441.8437 341.6875,463.5312 c 24.3102,11.89352 53.06792,11.90186 77.375,0 L 397.375,441.8437 c -11.08409,3.32747 -22.91591,3.32747 -34,0 z"
           id="path3880-2-6-6-6"
           style="font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-indent:0;text-align:start;text-decoration:none;line-height:normal;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;text-anchor:start;baseline-shift:baseline;color:#000000;fill:#de88cd;fill-opacity:1;stroke:none;stroke-width:50;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Sans;-inkscape-font-specification:Sans" />
        <path
           d="m 292.76615,448.45317 38.4,-38.4 8,8 1.6,-1.6 8,8 -1.6,1.6 8,8 -38.4,38.4 -8,-8 -4.8,4.8 -8,-8 4.8,-4.8 z"
           id="path3104-4-3-3-0"
           style="fill:#de88cd;fill-opacity:1;stroke:none" />
        <path
           d="m 467.96614,321.25318 -38.4,38.39999 -7.99999,-8 -1.6,1.6 -8,-8 1.6,-1.6 -8,-7.99999 38.39999,-38.4 8,8 4.8,-4.8 8,8 -4.8,4.8 z"
           id="path3874-7-3-0-4"
           style="fill:#de88cd;fill-opacity:1;stroke:none" />
        <path
           d="m 316.76615,297.25318 38.4,38.4 -8,7.99999 1.6,1.6 -8,8 -1.6,-1.6 -8,8 -38.4,-38.39999 8,-8 -4.8,-4.8 8,-8 4.8,4.8 z"
           id="path3876-2-6-0-9"
           style="fill:#ffffff;fill-opacity:1;stroke:none" />
        <path
           d="m 443.96614,472.45317 -38.39999,-38.4 8,-8 -1.6,-1.6 8,-8 1.6,1.6 7.99999,-8 38.4,38.4 -8,8 4.8,4.8 -8,8 -4.8,-4.8 z"
           id="path3878-9-8-5-5"
           style="fill:#de88cd;fill-opacity:1;stroke:none" />
      </g>
      <text
         x="337.20938"
         y="144.01526"
         id="dep"
         xml:space="preserve"
         style="font-size:144px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#de88cd;fill-opacity:1;stroke:none;font-family:Open Sans;-inkscape-font-specification:Open Sans Light"><tspan
           x="337.20938"
           y="144.01526"
           style="font-size:139.76777649px;fill:#de88cd;fill-opacity:1">Aktive</tspan></text>
    </g>
    <text
       x="41.878147"
       y="176.04822"
       id="subtitle"
       xml:space="preserve"
       style="font-size:32.93965149px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;font-family:Open Sans;-inkscape-font-specification:Open Sans Light"><tspan
         x="41.878147"
         y="176.04822"
         id="sublogo">Otto-Intze-Haus e.V.</tspan></text>
    <text
       x="43.953251"
       y="216.93362"
       id="info1"
       xml:space="preserve"
       style="font-size:36px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Open Sans;-inkscape-font-specification:Open Sans"><tspan
         x="43.953251"
         y="216.93362"
         style="font-size:20px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:start;line-height:125%;writing-mode:lr-tb;text-anchor:start;font-family:Open Sans;-inkscape-font-specification:Open Sans Light"> E-Mail-Adressen jeweils mit <tspan
   style="font-weight:bold;-inkscape-font-specification:Open Sans Bold">@oih.rwth-aachen.de</tspan> ergänzen!</tspan></text>
    <rect
       width="744.09003"
       height="3.0205247"
       x="6.6339112e-08"
       y="1005.7585"
       id="footline"
       style="fill:#de88cd;fill-opacity:1;stroke:none" />
  </g>
  <g
     id="dynamic"
     style="display:inline">
    <text
       x="698.82263"
       y="176.04822"
       id="lastchanged"
       xml:space="preserve"
       style="font-size:32.93965149px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:end;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;fill:#de88cd;fill-opacity:1;stroke:none;font-family:Open Sans;-inkscape-font-specification:Open Sans Light"><tspan
         x="698.82263"
         y="176.04822"
         id="tspan-lastchanged">(Stand: {{.Date}})</tspan></text>
    {{range $i, $col := .Cols}}
    {{if eq $i 0}}{{$x := "43.953251"}}{{else}}{{if eq $i 1}}{{$x := "262.68201"}}{{else}}{{$x := "481.41199"}}{{end}}{{end}}
    <text
       x="{{if eq $i 0}}43.953251{{else}}{{if eq $i 1}}262.68201{{else}}481.41199{{end}}{{end}}"
       y="229.15729"
       xml:space="preserve"
       style="font-size:36px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Open Sans;-inkscape-font-specification:Open Sans">
    {{range .}}
       <tspan
         x="{{if eq $i 0}}43.953251{{else}}{{if eq $i 1}}262.68201{{else}}481.41199{{end}}{{end}}"
         dy="1.25em"
         style="font-size:20px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:start;line-height:125%;writing-mode:lr-tb;text-anchor:start;font-family:Open Sans;-inkscape-font-specification:Open Sans Bold">{{.Name | html}}</tspan>
       {{if .Mail}}<tspan
         x="{{if eq $i 0}}43.953251{{else}}{{if eq $i 1}}262.68201{{else}}481.41199{{end}}{{end}}"
         dy="1.25em"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:start;line-height:125%;writing-mode:lr-tb;text-anchor:start;font-family:Open Sans;-inkscape-font-specification:Open Sans Light"> {{.Mail}}</tspan>{{end}}
       {{range .Members}}
       <tspan
         x="{{if eq $i 0}}43.953251{{else}}{{if eq $i 1}}262.68201{{else}}481.41199{{end}}{{end}}"
         dy="1.25em"
         style="font-size:20px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:start;line-height:125%;writing-mode:lr-tb;text-anchor:start;font-family:Open Sans;-inkscape-font-specification:Open Sans Light">{{. | html}}</tspan>
       {{end}}
       {{/* Leerzeile zwischen den AGs */}}
       <tspan
         x="{{if eq $i 0}}43.953251{{else}}{{if eq $i 1}}262.68201{{else}}481.41199{{end}}{{end}}"
         dy="1.25em"
         style="font-size:20px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:start;line-height:125%;writing-mode:lr-tb;text-anchor:start;font-family:Open Sans;-inkscape-font-specification:Open Sans Light" />
    {{end}}
    </text>
    {{end}}
    <text
       x="43.953251"
       y="1029.6738"
       id="foot"
       xml:space="preserve"
       style="font-size:30.45413017px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Open Sans;-inkscape-font-specification:Open Sans"><tspan
         x="43.953251"
         y="1029.6738"
         style="font-size:16px;font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;text-align:start;line-height:125%;writing-mode:lr-tb;text-anchor:start;font-family:Open Sans;-inkscape-font-specification:Open Sans Light">Änderungswünsche an dieser Liste (besonders Etagensprecher!) bitte an  haussprecher</tspan></text>
  </g>
</svg>
